@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@keyframes SurgirDaDireita {
    0% {
        transform: translateX(100dvw);
    }
    100% {
        transform: translateX(0px);
    }
}

* {
    margin: 0;
    overflow: hidden;
    transition-duration: .4s;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0 0;
}

input, select {
    border-width: 0.2px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
    transition-duration: 0.4s;
    padding: 10px;
    background-color: white;
}

input:hover, select:hover {
    box-shadow: 0px 0px 0px 1px #4F5A63 inset;
    border: none;
}

.BotaoPrimario {
    border: none;
    background-color: #4F5A63;
    transition-duration: 0.4s;
    color: white;
    cursor: pointer;
    box-shadow: none;
    padding: 8px;
    border-radius: 5px;
    font-size: medium;
    font-weight: normal;
}
.BotaoPrimario:hover {
    background-color: #14222F;
}

header {
    color: black;
    background: white;
    box-shadow: 0px 0px 0px 0.2px #C5C8CB inset;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;

    h1 {
        align-self: center;
    }

    nav {
        display: flex;
        justify-content: space-around;

        .SeletorDeAba {
            padding: 8px;
            flex-grow: 1;
            text-align: center;
            border-radius: 8px;
            transition-duration: .4s;
        }
        .SeletorDeAba:hover {
            cursor: pointer;
            background-color: #C5C8CB;
        }
    }
}


main {

    display: flex;

    #Produtos {
        background-color: white;
        display: grid;
        margin: 20px;
        gap: 0 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 25%));
        gap: 10px;
        align-items: flex-start;
        overflow: initial;
        flex-grow: 1;

        .Produto {
            display: flex;
            flex-direction: column;
            box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
            padding: 10px;
            aspect-ratio: 1 / 1;
            border-radius: 8px;
            justify-content: space-between;
            background-color: white;

            img {
                max-height: 70%;
                -webkit-user-drag: none;
                align-self: anchor-center;
                object-fit: scale-down;
            }

            label {
                user-select: none;
                -moz-user-select: none;

                i, form input {
                    display: none;
                }

                form input {
                    box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
                }
            }
        }
        .Produto:hover {
            transform: scale(1.1);
            cursor: pointer;
            z-index: 1;
        }
        .Produto.Selecionado {
            box-shadow: 0px -0.5px 0px 2px #3a92d3 inset;

            i, form input {
                display: unset;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
        
        h1 {
            margin-top: 0px;
            margin-bottom: 20px;
            font-size: 24px;
        }

        #CampoDadosDb, #CampoDevedoresDb {
            font-variant: small-caps;
            margin-bottom: 20px;
        }
    }

    aside {
        display: none;
    }
    aside.Ativo {
        display: flex;
        flex-direction: column;
        animation-name: SurgirDaDireita;
        animation-duration: .4s;
        max-width: 25dvw;
        padding: 10px;
        margin: 20px;
        box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
        border-radius: 8px;
        min-width: fit-content
    }

}

#Copyright {
    position: absolute;
    bottom: 2dvh;
    right: 1dvw;
    color: #4F5A63;
    text-align: end;
}

@media screen and (max-width: 767px) {
    input, select, textarea {
         font-size: 16px !important;
    }
    main {
        flex-direction: column;
        gap: 20px 0;
        align-items: stretch;
    }
    * {
        overflow: scroll;
    }
    #Copyright {
        display: none;
    }
}