@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@keyframes SurgirDaEsquerda {
    0% {
        transform: translateX(-100dvw);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes Rotacao {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    overflow: hidden;
    transition-duration: .4s;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100dvh;
    max-height: 100dvh;
}

input, select {
    border-width: 0.2px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
    transition-duration: 0.4s;
    padding: 10px;
    background-color: white;
}

input:hover, select:hover {
    box-shadow: 0px 0px 0px 1px #4F5A63 inset;
    border: none;
}

.BotaoPrimario {
    border: none;
    background-color: #4F5A63;
    transition-duration: 0.4s;
    color: white;
    cursor: pointer;
    box-shadow: none;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.BotaoPrimario:hover {
    background-color: #14222F;
}

.ScrollContent {
    overflow: scroll;
    border-radius: 8px;
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

.Carregando {
    width: clamp(1px, 10%, 48px);
    aspect-ratio: 1 / 1;
    border: 5px solid #4F5A63;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: Rotacao 1s linear infinite;
}

.ElementoCentral {
    margin: auto;
}

header {
    color: black;
    background: white;
    box-shadow: 0px 0px 0px 0.2px #C5C8CB inset;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;

    h1 {
        align-self: center;
    }

    nav {
        display: flex;
        justify-content: space-around;

        .SeletorDeAba {
            padding: 8px;
            flex-grow: 1;
            text-align: center;
            border-radius: 8px;
            text-decoration: none;
            color: #868686;
            width: calc(100% / 3)
        }
        .SeletorDeAba:hover {
            cursor: pointer;
            background-color: #C5C8CB;
        }
    }
}

main {
    display: flex;
    height: calc(100dvh - 164px);
    overflow: hidden;
    margin: 20px;
    gap: 20px;

    .Produtos {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        align-items: flex-start;
        flex-grow: 1;
        max-height: calc(100dvh - 130px);
        grid-auto-rows: max-content;
        overflow: visible;
        
        .Produto {
            display: flex;
            flex-direction: column;
            box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
            padding: 10px;
            aspect-ratio: 1 / 1;
            border-radius: 18px;
            justify-content: space-between;
            background-color: white;
            max-height: 25dvw;
            
            img {
                max-height: 70%;
                -webkit-user-drag: none;
                align-self: anchor-center;
                object-fit: scale-down;
            }

            label {
                user-select: none;
                -moz-user-select: none;

                i, input {
                    display: none;
                }

                input {
                    box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
                }
            }
        }
        .Produto.NaoSelecionavel {
            font-size: calc(100% - 4px);
            border-radius: 8px;
        }
        .Produto:hover {
            transform: scale(1.1);
            cursor: pointer;
            z-index: 1;
        }
        .Produto.NaoSelecionavel:hover {
            transform: unset;
            cursor: unset;
        }
        .Produto.Selecionado {
            box-shadow: 0px -0.5px 0px 2px #3a92d3 inset;
            overflow: visible;

            i, input {
                display: unset;
                max-width: -webkit-fill-available;
            }
        }

    };

    aside {
        display: none;
    };
    aside.Ativo {
        display: flex;
        flex-direction: column;
        animation-name: SurgirDaEsquerda;
        animation-duration: .4s;
        max-width: 25dvw;
        padding: 10px;
        box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
        border-radius: 18px;
        min-width: fit-content;
        gap: 8px;
        max-height: fit-content;

        h4 {
            margin-bottom: 8px;
        }

        form {
            display: flex;
            flex-direction: column;

            .Opcoes {
                display: flex;
                flex-direction: row;
                gap: 8px;
                margin-bottom: 8px;

                label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: normal;
                    color: #4F5A63;
                    padding: 8px;
                    border-radius: 8px;
                    box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
                    font-size: x-large;
                    aspect-ratio: 1 / 1;
                }

                label:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 0px 1px #4F5A63 inset;
                }

                input[type=radio] {
                    display: none;
                }

                input[type=radio]:checked + label {
                    box-shadow: 0px -0.5px 0px 2px #3a92d3 inset
                }
            }
        }

        input[type=text], input[type=number], select {
            margin-bottom: 8px;
        }
        
    }

    .CorpoElemento {
        display: flex;
        flex-direction: column;
        box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
        padding: 10px;
        border-radius: 18px;
        max-height: fit-content;
        background-color: white;
        flex-grow: 1;
        gap: 8px;

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

}

#Copyright {
    position: absolute;
    bottom: 0.1dvh;
    right: 1dvw;
    color: #4F5A63;
    text-align: end;
}

@media screen and (max-width: 767px) {
    input, select, textarea {
         font-size: 16px !important;
    }
    main {
        flex-direction: column;
        gap: 20px 0;
        align-items: stretch;
        overflow: scroll;
        height: calc(100dvh - 205px);
    }
    * {
        overflow: visible;
    }
    #Copyright {
        display: none;
    }
}