.page {
  box-sizing: border-box;
  background-color: white;

  textarea {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    border: 0;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    z-index: 1;
  }

  h3 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.286);
    z-index: 0;
  }
}